<div class="text-center bi">
  <div class="login-box">
    <div class="login-box-header">
      <h2>Log in</h2>
    </div>

    <div class="login-box-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-1" style="margin-top: 10px; margin-left: 0px; margin-right: 0px;">
                <%= f.label :email %>
              </div>
              <div class="col-sm-12">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Enter Email', atuocomplete: 'off' %>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2" style="margin-top: 5px; margin-bottom: -20px;">
                <%= f.label :password %><br />
              </div>
              <div class="col-sm-12">
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
              </div>
            </div>
          </div>
          <div class="form-group form-check">
            <% if devise_mapping.rememberable? -%>
              <div class="row text-center">
                <div class="col-sm-3" style="margin-left: 60px;">
                  <%= f.check_box :remember_me, class: 'form-check-input', id:'exampleCheck1', style: 'float: right'  %>
                </div>
                <div class="col-sm-6" style="margin-left: -50px;">
                  <%= f.label :remember_me, class: 'form-check-label' %>
                </div>
              </div>
            <% end -%>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        </form>
      <% end %>
      <div class="box" style="margin-top: 30px;">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>
